@media only screen and (max-width : 480px) {
    body {
        color: white;
        font-family: Verdana, Geneva, Arial, sans-serif;
        padding: 0px;
        margin: 0px;
    }

    h1,h2,h3,h4,h5,h6,p,li {
        margin-left: 15px;
        margin-top: 0px;
    }

    #wrapper {
        width: 100%;
    }

    #footer {
        height: 80px;
        background-color: black;
    }

    .button {
        font-size: x-large;
        text-decoration: none;
        background-color: LightBlue;
        display: block;
        width: 25%;
        float: left;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        box-shadow: 5px 5px 3px gray;
    }

    .button:hover {
        box-shadow: 5px 5px 3px black;
    }
}